<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>Daniel Nelson</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="wrapper">
        <!-- <h1>Eugenie Y. Lai</h1> -->
      <header>
        <h1><a href="{{ "/" | absolute_url }}">Daniel Nelson</a></h1>
        <!-- {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %} -->

        <p>Email: <a href="mailto:danielnelsoenarto17@gmail.com">danielnelsoenarto17@gmail.com</a><br>
          GitHub: <a href="https://github.com/DanielSoenarto/">DanielSoenarto</a><br>
          Google Scholar: <a href="https://scholar.google.com/citations?user=hN_lqAgAAAAJ&hl=en&oi=ao">Daniel Nelson</a><br>
          <a href="/docs/cvs/Daniel Nelson CV 2025-Intern.pdf">CV</a><br>
          <!--Instagram: <a href="https://www.instagram.com/eugeniesday/">eugeniesday</a><br>-->
          <!-- , <a href="/docs/transcripts/">Transcript</a> -->
        </p>

        <!-- <p>News <small>[<a href="https://eugenielai.github.io/posts/news.html">More Updates</a>] <br>
          2021.04 Joining the <a href="http://dsg.csail.mit.edu/">Data Systems Group (DSG)</a> at MIT EECS CSAIL as a PhD student in Fall '21.</small>
        </p> -->

        <p><small>Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>

      </header>
      <section>

      {{ content }}
      
      </section>
      <!--<footer>
        <p><small>Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>-->
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>